.create-container {
  width: var(--desktop-width);
  margin: 0 auto;
  border: 2px solid slateblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.create-container h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.label-name {
  margin-right: 20px;
}

.upload-btn-container {
  position: relative;
}
.upload-text {
  position: absolute;
  right: 100;
  margin-left: 10px;
}

.btn {
  padding: 10px;
  background-color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid black;
}

.btn-disabled {
  background-color: white;
  color: grey;
}

.btn:hover {
  background-color:  darkblue;
  color: aliceblue;
}
.btn-disabled:hover {
  background-color: white;
  color: grey;
}
