main {
  width: var(--desktop-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article {
  display: flex;
  justify-content: stretch;
  margin: 5px;
  border: 1px solid slategray;
}
img {
  width: 100%
}